body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background-color: bisque;
  font-family: 'Rubik Pixels', cursive;
  font-family: 'Sedgwick Ave Display', cursive;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

h4{
  color:aquamarine;
  text-align:center;
  margin-bottom:10px;
}

#hangman-container {
  margin-top: 20px;
}

#hangman-img {
  width: 300px;
  height: 300px;
}

#word-container {
  margin-top: 20px;
  text-align: center;
}

#letters-container {
  margin-top: 20px;
  text-align: center;
}

#letters-container button {
  margin: 5px;
  padding: 10px;
  text-align: center;
  background-color: #cfe8fc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#new-game-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #aad8ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
