body {
  font-family: Arial, sans-serif;
  margin: 30;
  background-color: bisque;
  font-family: 'Rubik Pixels', cursive;
font-family: 'Sedgwick Ave Display', cursive;

}
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  #hangman-container {
    margin-top: 20px;
  }
  
  #hangman-img {
    width: 300px;
    height: 300px;
    
  }
  
  #word-container {
    margin-top: 20px;
    text-align: center;
  }
  
  #letters-container {
    margin-top: 20px;
    text-align: center;
  }
  
  #letters-container button {
    margin: 5px;
    padding: 10px;
    text-align: center;
  }
  
  #new-game-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  